@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; }

h1 {
  font-size: 48px;
}


.title{
  float:left;
  padding-left: 30px;
  padding-right: 40px;
  padding-top:40px;
}

.user-name{
  margin-left: 10px;
}

.jumbotron{
  height: 200px;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #1E90FF;
  color: #fff;
}

.navbar{
  margin-top: 80px;
  margin-left: 40px;
  float: left;
}

.navbar a{
  padding: 0 10px;
}


.show {
  background-color: #D3D3D3;
}

.comments{
  width: 400px;
  float: left;
}
.files {
  width: 400px;
  float: left;
}
.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}



.address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.body-date {
  font-size:12px;
  padding-left: 10px;
}


.body-comment{
  width: 400px;
  float: left;
  margin-top: 60px;
}


#body-form{
  width:320px;
  margin:0 auto;
  margin-top: 120px;
  margin-bottom:120px;
  background-color: blue;
}

.body-content{
  float: left;
  width: 60%;
  margin-left: 20%;
}
#submit {
  width: 100px;
  height: 40px;
  border: none;
}

#submit:hover {
  cursor: pointer;
}

.form {
  max-width: 300px;
  width: 100%;
  background: #4aaee7;
  color: white;
  margin: 0% auto;
  height: auto;
  margin-top: 100px;
  border-radius: 8px;
}

.form input {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
}

.form h4 {
  padding-top: 15px;
}

#submit {
  width: 40%;
  height: 50px;
  border:1px solid #4aaee7;
	background: #3A88B5;
	color: white;
	border-radius: 5px;
	padding: 10px;
  margin-bottom: 20px;
  margin-left: 30%;
}

.body-post{
  height: 1200px;
  float: left;
  margin-right: 120px;
  margin-left: 60px;
  margin-top: 20px;
}

.body-name {
  margin-left: 20px;
}

.body-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 20px;
  float: left;
}

.body-document{
  width: 300px;
  float: right;
}

.body-document a{
  color: #000;
}

.settings {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}


.profile{
  width: 100%;
  height: 600px;
}

.profile img{
  width: 150px;
  height: 150px;
}

.profile-section{
  width: 400px;
  height: auto;
  margin: 20px 20px;
  float: left;
}

.search-image{
  width: 60px;
  height: 60px; 
}

.footer {
  background-color: #292929;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color:#fff;
}
.footer a {
  color: #fff;
}
