@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

a {
  color: #fff;
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; }

.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: #fff;
}

.address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.body-date {
  font-size:12px;
  padding-left: 10px;
}

#body-form{
  width:320px;
  margin:0 auto;
  margin-top: 140px;
  margin-bottom:140px;
}

.form input {
  margin: 0 auto;
  margin-top: 20px;
}

.body-content{
  margin-left: 80px;
  margin-top: 20px;

}

.body-post{
  height: 120px;
  float: left;
}

.body-name {
  margin-left: 20px;
}

.body-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 20px;
}

.footer {
  margin-top: 500px;
}

.footer a {
  color: #000;
}
